@import '@cbt-bo/component-lib/styles.css';
@plugin '@tailwindcss/typography';

:root {
  --primary: #9d4611;
  --primary-foreground: #ffffff;
  --secondary: #d2903f;
  --secondary-foreground: #ffffff;
}
