@import '@cbt-bo/component-lib/styles.css';
@plugin '@tailwindcss/typography';

:root {
  --primary: #ba001d;
  --primary-foreground: #ffffff;
  --secondary: #e72340;
  --secondary-foreground: #ffffff;
}
